<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p>
  <p>Browser going direcly to WUnderground API...</p>
  <p> &nbsp;&nbsp;&nbsp;(1) <a href="./../weatherapp-hcoded.html">Weather for hardcoded coordinate</a></p>
  <p> &nbsp;&nbsp;&nbsp;(2) <a href="./../weatherapp-geoloc.html">Weather baesd on geo-location</a></p>
  <p> &nbsp;&nbsp;&nbsp;(3) <a href="./../weatherapp-ucoord.html">Weather baesd on user passing co-ordinates</a></p>
  <p> &nbsp;&nbsp;&nbsp;(4) Weather baesd on user passing PWS - [To Be Completed]</p>
  <p>

  <p>Browser going to WUnderground API via NodeJS server...</p>
  <p> &nbsp;&nbsp;&nbsp;(1) Weather for hardcoded coordinate - [To Be Completed]</p>
  <p> &nbsp;&nbsp;&nbsp;(2) Weather baesd on geo-location - [To Be Completed]</p>
  <p> &nbsp;&nbsp;&nbsp;(3) Weather baesd on user passing co-ordinates - [To Be Completed]</p>
  <p> &nbsp;&nbsp;&nbsp;(4) Weather baesd on user passing PWS - [To Be Completed]</p>


</header>
